@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;900&family=Quicksand:wght@300;400;700&display=swap');
body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.start{
  background-color: #7750e6;
}
.header{
  
  color: white;
}

.navbar{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.nav-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-item{
  margin-left: 10px;
}

.nav-right{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.log-btn{
  margin-right: 10px;
}
.log-btn-search{
  padding: 6px;
  border-radius: 2px;
  background-color: #ff4f4f;
}
.start-center{
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.center-left{
  display: flex;
  flex-direction: column;
}
.center-h{
  font-family: 'Quicksand', sans-serif;
  font-size: 20pt;
  font-weight: bold;
}
.center-img{
}